@charset "utf-8";


.content_bg{
	width: 100%;
	height: 640px;
	background-position: center;
	background-image: url(../images/hero-bg.jpg);
	background-size: inherit;
	background-repeat: no-repeat;
}




/* Login ----------*/
section p.loginon {
	margin-top: 30px;
	font-size: 16px;
	float: right;
}
section p.loginon span{
	color: #66d9ff;
	font-size: 22px;
}

section p.loginon a{
	color: #111;
	font-size: 16px;
	margin-left: 10px;
}

section p.loginon a button{
	width: 120px;
	height: 30px;
	border: 1px solid #ccc;
	color: #ccc;
	line-height: 30px;
}

section p.loginon a button:hover{
	border: 1px solid #ddd;
	background: #66d9ff;
	color: #fff;
	
}


.log_in {
	width: 80%;
	margin: 0 auto;
}



.log_in a button {
	width: 100%;
	height: 100%;
	line-height: 40px;
	text-align: center;
	font-size:16px;
	border: 1px solid #aaa;
	border-radius: 10px;
	position: relative;
	color: #aaa;
	margin-top: 5px;
	display: block;
	background: #fff;
}
.log_in a button:hover {
	background: #4dd2ff;
	color: #ffff80;
}


/* 로고타이틀 --------------*/
.epop_logo{
	
	background-position: center;
	background-image: url(../images/epop_logo_title.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 254px;
    height: 130px;
    text-indent: -9999px;
    margin-left: 50%;
    transform: translate(-50%, 70%);











